.header{
    font-family: 'Aquire';
    font-weight: 400;
    font-size: 16px;
    line-height: 13.97px;
    color: #FFFFFF;
   
    }
.header{
   color: transparent;
}
 /* .HEADER{
    font-family: 'Aquire';
    font-weight: 400;
    font-size: 16px;
    line-height: 13.97px;
    color:#FFFFFF;
    /* height: 41;
    top: 179px;
    left: 1378px;
    color: #DC4A4A;  */ 
 

.header{
   color: transparent;
}
